{% extends "layout.twig.html" %}
{% block title %}weapon list - {{ parent() }}{% endblock %}
{% block content %}
{% if not noresults %}

{% for weapon in data %}
{% if loop.index0 is divisibleby(3) %}
	<div class="row">
{% endif %}
		<div class="span4 weapon weapon-shim">
			<div>
				<div class="killicon">
					<img src="{{ asset.image.killicon }}{{ weapon.image }}" alt="{{ weapon.name }}" title="{{ weapon.name }}" />
				</div>
				<div class="killicon_data">
					<span class="name"><a href="{{ url.weaponRank(weapon.urlname) }}">{{ weapon.name }}</a></span>
					<span class="kills">{{ weapon.kills }}</span>
				</div>
			</div>
		</div>
	{% if loop.index is divisibleby(3) %}</div>{% endif %}
{% endfor %}
{% else %}
	<h2 class="noresults">No results</h2>
{% endif %}
{% endblock %}
