	{% if pagination %}
	<div class="pagination">
		<ul>
			<li><a href="{{ url.serverRankingPage(pagination.first) }}" class="prev" title="first page">&larr; first</a></li>
{% for page in pagination.pages %}
			<li{% if page == pagination.current %} class="active"{% endif %}><a href="{{ url.serverRankingPage(page) }}" title="Page {{ page }}">{{ page }}</a></li>
{% endfor %}
			<li><a href="{{ url.serverRankingPage(pagination.last) }}" class="next" title="last page">last &rarr;</a></li>
		</ul>
	</div>
	{% endif %}
