{% extends "layout.twig.html" %}
{% block title %}weapon rankings - {{ parent() }}{% endblock %}
{% block content %}
{% if not noresults %}
	<h2>weapon ranking <small>{{ pagination.record.from }} to {{ pagination.record.to }} (of {{ pagination.record.total }} records)</small></h2>
	<div class="row">
		<div class="span4 weapon weapon-bigshim">
			<div>
				<div class="killicon">
					<img src="{{ asset.image.killicon }}{{ weapon.image }}" alt="{{ weapon.name }}" title="{{ weapon.name }}" />
				</div>
				<div class="killicon_data">
					<span class="name"><a href="{{ url.weaponRank(weapon.urlname) }}">{{ weapon.name }}</a></span>
					<span class="kills">{{ weapon.kills }}</span>
				</div>
			</div>
		</div>
	</div>

	<div class="span16">
		<table class="zebra-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>name</th>
					<th>weapon kills</th>
				</tr>
			</thead>
			<tbody>
				{% for u in data %}
				<tr id="listr{{ u.rank }}">
					<td>{{ u.rank }}</td>
					<td><a href="{{ url.playerProfile(u.steamid64) }}"{% if u.ismember and not u.is_banned %} class="groupmember" title="group member"{% endif %}{% if u.is_banned %} class="banneduser" title="banned: {{ u.banreason }}"{% endif %}>{{ u.NAME }}</a></td>
					<td>{{ u.weapon_kills }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% include "pagination_playerweaponranking.twig.html" %}
	<br />
{% else %}
	<h2 class="noresults">No results</h2>
{% endif %}
{% endblock %}
