{% extends "layout.twig.html" %}
{% block title %}top 10 players - {{ parent() }}{% endblock %}
{% block content %}
{% if not noresults %}
	<div class="table top10">
		<div class="tableheader">
			<span class="column-rank lead">Rank</span>
			<span class="column-name">Name</span>
			<span class="column-points">Points</span>
			<span class="column-playtime">Total playtime</span>
			<span class="column-lastonline trail">Last online</span>
		</div>
		<div class="tablebody">
{% for u in data %}
			<div class="tablerow" id="top10r{{ u.rank }}">
				<span class="cell column-rank lead">{{ u.rank }} </span>
				<span class="cell column-name"><a href="{{ url.playerProfile(u.steamid64)}}"{% if u.ismember and not u.is_banned %} class="groupplayer" title="group member"{% endif %}{% if u.is_banned %} class="banneduser" title="banned: {{ u.BANREASON }}"{% endif %}>{{ u.NAME }}</a></span>
				<span class="cell column-points">{{ u.POINTS }}</span>
				<span class="cell column-playtime">{{ u.playspan }}</span>
				<span class="cell column-lastonline trail"><span title="{{ u.lastonline_utc }}">{{ u.lastonline }}</span></span>
			</div>
{% else %}
			<div class="tablerow">
				<span class="column-max">No results</span>
			</div>
{% endfor %}
		</div>
	</div>
{% else %}
	<h2 class="noresults">No results</h2>
{% endif %}
{% endblock %}
