{% extends "layout.twig.html" %}
{% block title %}top 10 players - {{ parent() }}{% endblock %}
{% block content %}
{% if not noresults %}
	<table class="zebra-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>name</th>
					<th>points</th>
					<th>total playtime</th>
					<th>last online</th>
				</tr>
			</thead>
			<tbody>
				{% for u in data %}
				<tr id="listr{{ u.rank }}">
					<td>{{ u.rank }}</td>
					<td><a href="{{ url.playerProfile(u.steamid64) }}"{% if u.ismember and not u.is_banned %} class="groupmember" title="group member"{% endif %}{% if u.is_banned %} class="banneduser" title="banned: {{ u.banreason }}"{% endif %}>{{ u.NAME }}</a></td>
					<td>{{ u.POINTS }}</td>
					<td>{{ u.playspan }}</td>
					<td><time class="js-relative-date" datetime="{{ u.lastonline.w3c }}" title="{{ u.lastonline.title }}">{{ u.lastonline.readable }}</time></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
{% else %}
	<h2 class="noresults">No results</h2>
{% endif %}
{% endblock %}
